<h1 class = "cocktail-header">Cocktails</h1>

  <div class="cocktail-banner mb-4 p-16"
     style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)),url('https://images.unsplash.com/photo-1486428263684-28ec9e4f2584?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80');
">
 </div>
<div class = "cocktail-list">
  <div class = "row justify-content-space-around py-4 mt-6" >
      <div class = "col-4">
      <% @cocktails.each do |cocktail|%>

      <%=cocktail.name.capitalize %>
    </div>
        <div class ="col-4"><%= link_to cocktail do %></div>
            <%= cocktail.name %>
        <% end %>
        <% end %>

       </div>
    </div>
  </div>

    <div class = "cocktail-header">

   <h1><%= link_to 'add a cocktail', new_cocktail_path%>

     </h1>


    </div>
   </new_cocktail_path%>
  </div>





