
<div class="cocktail-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://images.unsplash.com/photo-1486428263684-28ec9e4f2584?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80');">
  <div class="container">
    <h1>Fancy cocktails <strong> the best cocktails for those   who know!</strong> </h1>
    <!-- <p> Come to <strong>Fancy Cocktails and change your life</strong></p> -->
     <%= link_to 'add a cocktail', new_cocktail_path,class: "btn btn-ghost"%>

  </div>
</div>
<div class="card-product">

  <div class="card-product-infos">
    <% @cocktails.each do |cocktail|%>
      <h1><%=cocktail.name.capitalize %></h1>
      <%= link_to cocktail_path(cocktail), remote: true do  %>
      <%= cl_image_tag cocktail.photo.url %>
      <% end %>
    <% end %>
  </div>
</div>











