<h1>Cocktails</h1>

  <div class="cocktail-banner mb-4 p-16"
     style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)),url('https://images.unsplash.com/photo-1486428263684-28ec9e4f2584?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80');
">
 </div>

  <div class = "row justify-content-space-around" >
    <div class = "col-8">
    <% @cocktails.each do |cocktail|%>
    <div class cocktail-list>
      <li><%=cocktail.name.capitalize %>
      <%= link_to cocktail do %>
            <%= cocktail.name %>
        <% end %>
        <% end %></li>
        </div>
       </div>
    </div>

    <div class = "cocktail-header">

   <h1><%= link_to 'add a cocktail', new_cocktail_path%>

     </h1>


    </div>
   </new_cocktail_path%>
  </div>





