

<div class="cocktail-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1475360149137-5ffb64357c52?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80);">
  <div class="container">

    <% @cocktail.doses.each do |dose| %>

        <%=  @cocktail %>
        <h1><%= @cocktail.dose.description %></h1>

    <% end %>

    </div>
</div>














