<div class="row justify-content-center">
  <div class="col-4">

    <%= simple_form_for [@cocktail, @dose] do |form| %>
      <%= form.input :description %>
      <%= form.association :ingredient,:class => "create" %>
      <%= form.button :submit, class: 'btn btn-primary' %>
    <% end %>
  </div>


</div>

