.card-trip {
  display:flex;
  justify-content:space-around;
  overflow: hidden;
  background: green;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
.card-trip{

  padding:48px;

}


.card-trip h1{
  font-size: 64px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}





