.show-banner{
  height:100vh;
  background-repeat:none;
  background-size: cover;
  background-position: center;
  position:relative;

  h1{
    color:#ffffff94;
    font-size:72px;
    text-align: center;
    font-weight:lighter;
    font-style:oblique;
    padding:240px;



  }


}
.show-container{
  position:absolute;
  right: 16px;
  bottom:24px;
  display:block;




}
